[submodule "emb/cmake"]
	path = emb/cmake
	url = ../../thirdpin_team/cmake-files.git
[submodule "emb/src/etl"]
	path = emb/src/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "emb/src/libopencm3"]
	path = emb/src/libopencm3
	url = ../../thirdpin_team/libopencm3.git
[submodule "emb/src/yxml/yxml"]
	path = emb/src/yxml/yxml
	url = https://code.blicky.net/yorhel/yxml.git
[submodule "emb/src/expected"]
	path = emb/src/expected
	url = https://github.com/thirdpin/expected.git
[submodule "emb/src/named_type"]
	path = emb/src/named_type
	url = git@gitlab.thirdpin.io:thirdpin_team/cpp-libs/named_type.git
